body {
    background-color: white;
    margin-left: 50px;
}

.container {
    display:grid;
    grid-template-columns: repeat(4,25%);
    grid-template-rows: repeat(4,1fr);
    height: 300px;
    gap: 30px;
    justify-content: center;
}

.item {
    background-color: white;
}

img {
    height:100%;
    width: 100%;
    align-self: stretch;
}

.two-rows {
    grid-row: 1/3;
}
.onerow {
    grid-row: 1/2; 
}

.small1{
    grid-row: 2/3
}
.small2 {
    grid-row: 2/3;
}
.two-rows {
    grid grid-column: 1/2;
}
.onerow {
    grid-column: 2/4;
}
.below {
    grid-row: 3/5;
}

.belowone {
    grid-row: 3/4 ;
}
.belowsmall{
    grid-row: 3/5;
}
.below {
    grid-column: 1/2;
}
.belowone {
    grid-column: 2/4;
}
.belowsmall {
    grid-column: 4/5;
}
